html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.nice-font {
  font-family: "Josefin Sans", sans-serif;
}

header {
  text-align: center;
}

main {
  padding: 10px;
  margin-bottom: 50px;
}

footer #command {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 7px 7px;
  padding-right: 7px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 0.5px solid #9e9e9e50;
  box-sizing: border-box;
  background-color: #fff;
}

#command input {
  display: block;
  width: 75%;
}

#command input,
#command button {
  float: left;
  padding: 10px 15px;
  border: 0;
  outline: 0;
}

button {
  background-color: #1e88e5;
  color: #fff;
  border-radius: 20px;
  font-weight: 300;
  margin-right: 15px;
}

.row {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.chat {
  border: 0.7px solid #9e9e9e50;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 20px;
  color: #333;
  padding: 10px 20px;
  display: inline-block;
}

.question {
  float: right;
  background-color: #1e88e5;
  color: #fff;
  border-color: rgba(0, 0, 200, 0.1);
}

.answer {
  float: left;
}

.hide {
  display: none;
}

/* POPUP */
#ssform,
#newsform {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: 50px auto;
  border: 1px solid #999;
  width: 60%;
}

#ssimg {
  width: 90%;
  height: auto;
  margin-bottom: 60px;
  display: none;
  border: 1px solid #000;
}

form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #eee;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
