:root {
  --primary-heading-text: #181818;
  --primary-background-color: #fffdf9;
  --secondary-background-color: #faeee7;
  --scrollbar-track-color: #eee;
  --scrollbar-thumb-color: #c8c8c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-image:url('lex.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size:25% 50%;
background-attachment: fixed;
  scroll-behavior: smooth;
  /* Specificely for firefox browser */
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}


@media screen and (max-width: 768px) {
  html, body {
    background-size:75% 50%;
  }
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--scrollbar-thumb-color);
}
.nice-font {
  font-family: "Josefin Sans", sans-serif;
}
.btn-secondary{
  color: #fff;
  background: #008dd2;
  padding:5px;
  text-decoration: none;

}
.btn-first{
  align-items: center;
  justify-content: center;
  color: #008dd2;
  background: #fff;
  display:flex;
  border:3px solid  #008dd2;
  border-radius: 15px;
  margin:5px;
  padding:10px;
  text-decoration: none;
}

.btn-first:hover{
  color: #fff;
  background: #008dd2;
}

#justcheck {
  border: 2px #177117;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  margin-left: 10px;
}

#map {
  display: block;
  height: 100%;
}

header {
  display: inline;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem;
  position: fixed;
  width: 100%;
  background-color: var(--primary-background-color);
  z-index: 2;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.sticky {
  padding: 0.7rem 1.5rem;
  box-shadow: 0 2px 4px #ddd;
}

.navbar {
  font-size: 18px;
}

.trial{
  display: block;
}

.trial2{
  display: none;
}
.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links, .logo {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.main-nav li a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-left: 1rem;
  transition: 0.3s ease-in-out all;
}

.logo {
  display: inline-block;
  margin-left: 0px;
  font-family: Mulish;
  font-style: normal;
  color: #202020;
  text-decoration: none;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  
header {
  padding:1.5rem;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 30px;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
    margin-left:20px;
  }
  .navbar-toggle {
    display: none;
  }
  .nav-links:hover {
    color: white;
    /* background-color: rgba(9, 133, 227, 0.2); */
    background-color: #008dd2;
  }
}

main {

  padding: 10px;
  padding-top: 90px;
  margin-bottom: 50px;
}
footer{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
footer #command {
  position: fixed;
  display: flex;
  bottom: -5px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 7px 7px;
  padding-right: 7px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color:#fff;
  border: 0.5px solid #9e9e9e50;
  box-sizing: border-box;
}

#command{
  display:flex;
  align-items: center;
  justify-content: center;
}

.img {
  float: left;
  border: 1px dotted black;
  margin: 0px 30px 15px 20px;
}


#command input,
#command button {
  float: middle;
  padding: 10px 15px;
  border: 0;
  outline: 0;
}

#btn {
  background-color: #1e88e5;
  color: #fff;
  border-radius: 20px;
  font-weight: 300;
  margin-right: 0px;
}

.row {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row2 {
  margin-bottom: 10px;
  display: block;
}
.row2::after {
  content: "";
  display: table;
  clear: both;
}
.card-text{
  font-size:15px;
}
.chat {
  border: 3px solid #9e9e9e50;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 20px;
  color: #333;
  padding: 10px 20px;
  display: inline-block;
}

.question {
  float: right;
  background-color: #1e88e5;
  color: #fff;
  border-color: rgba(0, 0, 200, 0.1);
}

.answer {
  float: left;
}

.hide {
  display: none;
}

/* POPUP */
#ssform,
#newsform{

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  min-height: 100%; 
  height:auto;/* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  
}

#map__form {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  min-height: 100%; 
  height:auto;/* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}
.about{
  font-family: 'Alegreya Sans', sans-serif;
  font-size:25px;
}
.contact-form{
  width: 100%;
  height: 100%;
  
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}



.modal-content {
  font-family: 'Alegreya Sans', sans-serif;

  margin: 50px auto;
  border: 1px solid #999;
  width: 60%;
}

#ssimg {
  width: 90%;
  height: auto;
  display: none;
  border: 1px solid #000;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#chatscreen{
  width: 100%;
  overflow-y: scroll;
  max-height:100%;
}
/*Modal Popups*/

/* The Modal (background) */


.icon{
  position: fixed;
  float: middle;
  z-index: 9999;
  top:42px;
  left:50vw;
  width: 0;
  text-align: center;
  cursor: pointer;
}

#icon{
  display:none;
}
.bar{
  position: absolute;
  transform: translate(-50%,-50%);
  /*align-items: center;*/
  top : -10px;
  
  background-color: #f98866;
  width: 20px;
  height: 20px;
  margin: 5px 0;
  border-radius: 10px;
  transition: 0.3s;
  animation: dope 1.5s ease-in-out 0s infinite;
}

.bar:nth-child(1){
  animation-delay: 0s;
}

.bar:nth-child(2){
  animation-delay: 0.15s;
}
.bar:nth-child(3){
  animation-delay: 0.3s;
}
.bar:nth-child(4){
  animation-delay: 0.45s;
}


@keyframes dope {
  0%   {
      height: 20px;
  }
  50%  {
      height:60px;
  }
  100% {
      height: 20px;
  }
}

.distance {
position: absolute;
background-color: #fff;
font-family: 'Alegreya Sans', sans-serif;
font-size: 20px;
padding:15px;
width:200px;
Height:100px;
z-index: 999;
display: block;
top:0;
right:0;
}
/* Modal Content */
.modal { /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalb {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-contentb {
  background-color: #fefefe;
  margin: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  overflow: scroll;
}

.closeb {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeb:hover,
.closeb:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalc {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-contentc {
  background-color: #fefefe;
  margin: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
}


.closec {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closec:hover,
.closec:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */



form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

form label,
form select {
  position: relative;
  display: inline-block;
}

form label input,
form select {

  position: relative;
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

form select {
  display: inline-block;
}

form label input::-moz-placeholder {
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}

form label input:-ms-input-placeholder {
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}

form label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}

form label input:focus,
form label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}

form label input:focus::-moz-placeholder,
form label input.populated::-moz-placeholder {
  color: transparent;
}

form label input:focus:-ms-input-placeholder,
form label input.populated:-ms-input-placeholder {
  color: transparent;
}

form label input:focus::placeholder,
form label input.populated::placeholder {
  color: transparent;
}

form label input:focus+span,
form label input.populated+span {
  opacity: 1;
  top: 10px;
}

form label span {
  color: #008dd2;
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

form input[type=button] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  position: relative;
  display: block;
  background: #008dd2;
  color: #fff;
  padding: 16px 40px;
}

form input[type=button]:hover {
  background: #192b3f;
}

.heading {
  margin-bottom: 50px;
  display: block;
  position: relative;
  color: white;
}

.width {
  width: 620px;
}

@media only screen and (max-width: 800px) {

  .width {
      width: 300px;
  }


  form label,
  form select {
      position: relative;
      display: block;
  }

}